In [14]:
import pandas as pd 
import numpy as np

In [15]:
# Replace 'Credit_Banking_Project.xlsx' with the correct file name if it's different
file_name = 'Credit.xls'

In [16]:
# Load data
customer_acquisition = pd.read_excel(file_name, sheet_name='Customer Acqusition')
spend = pd.read_excel(file_name, sheet_name='Spend')
repayment = pd.read_excel(file_name, sheet_name='Repayment')

In [17]:
# Load the Excel file
file_name = 'Credit.xls'
xl = pd.ExcelFile(file_name)

# Print sheet names
print(xl.sheet_names)

['Customer Acqusition', 'Spend', 'Repayment']

In [18]:
# Display the DataFrame
print(customer_acquisition.head())
print(spend.head())
print(repayment.head())

   Sl No: Customer        Age       City Credit Card Product   Limit Company  \
0       1       A1   0.928521  BANGALORE                Gold  500000      C1
1       2       A2  35.534551   CALCUTTA              Silver  100000      C2
2       3       A3  11.559307     COCHIN            Platimum   10000      C3
3       4       A4  45.820278     BOMBAY            Platimum   10001      C4
4       5       A5  69.663948  BANGALORE            Platimum   10002      C5

         Segment
0  Self Employed
1   Salaried_MNC
2   Salaried_Pvt
3           Govt
4  Normal Salary
   Sl No: Costomer      Month       Type         Amount
0       1       A1 2004-01-12  JEWELLERY  473775.834869
1       2       A1 2004-01-03      PETRO  335578.666019
2       3       A1 2004-01-15    CLOTHES  371040.941912
3       4       A1 2004-01-25       FOOD  141177.813256
4       5       A1 2005-01-17     CAMERA  398403.771812
   SL No: Costomer      Month         Amount
0       1       A1 2004-01-12  331844.007374
1       2       A1 2004-01-03  441139.807335
2       3       A1 2004-01-15   32480.004009
3       4       A1 2004-01-25   90636.966534
4       5       A1 2005-01-17    1581.969829

In [19]:
# Sanity Check: Handle age < 18
customer_acquisition['Age'] = customer_acquisition['Age'].apply(lambda x: np.nan if x < 18 else x)
customer_acquisition.dropna(subset=['Age'], inplace=True)

In [20]:
# Format dates
spend['Month'] = pd.to_datetime(spend['Month'], format='%d-%b-%y')
repayment['Month'] = pd.to_datetime(repayment['Month'], format='%d-%b-%y')

In [21]:
# Monthly spend
monthly_spend = spend.groupby(['Costomer', spend['Month'].dt.to_period('M')])['Amount'].sum().reset_index()
monthly_spend.rename(columns={'Costomer': 'Customer', 'Month': 'Period'}, inplace=True)

In [25]:
# Monthly repayment
monthly_repayment = repayment.groupby(['Costomer', repayment['Month'].dt.to_period('M')])['Amount'].sum().reset_index()
monthly_repayment.rename(columns={'Costomer': 'Customer', 'Month': 'Period'}, inplace=True)

In [22]:


# Merge with customer acquisition to get credit limit
monthly_spend = monthly_spend.merge(customer_acquisition[['Customer', 'Limit']], on='Customer', how='left')

# Customers spending more than their Credit Limit
monthly_spend['Over Limit'] = monthly_spend['Amount'] > monthly_spend['Limit']
over_spenders = monthly_spend[monthly_spend['Over Limit']]

# Highest paying 10 customers
top_10_customers = monthly_spend.groupby('Customer')['Amount'].sum().nlargest(10).reset_index()

# Spending by segment
customer_spend = monthly_spend.merge(customer_acquisition[['Customer', 'Segment']], on='Customer', how='left')
spending_by_segment = customer_spend.groupby('Segment')['Amount'].sum().reset_index()

In [23]:
# Spending by age group
age_bins = [18, 30, 40, 50, 60, np.inf]
age_labels = ['18-29', '30-39', '40-49', '50-59', '60+']
customer_acquisition['Age Group'] = pd.cut(customer_acquisition['Age'], bins=age_bins, labels=age_labels)
customer_spend = customer_spend.merge(customer_acquisition[['Customer', 'Age Group']], on='Customer', how='left')
spending_by_age_group = customer_spend.groupby('Age Group')['Amount'].sum().reset_index()

In [29]:


# Aggregate repayment amounts for each customer in monthly_repayment
total_repayment = monthly_repayment.groupby('Customer')['Amount'].sum().reset_index()

# Map total repayment amounts to monthly_spend
monthly_spend['Repaid'] = monthly_spend['Customer'].map(total_repayment.set_index('Customer')['Amount'])

# Calculate due amount and impose interest
monthly_spend['Due Amount'] = monthly_spend['Amount'] - monthly_spend['Repaid'].fillna(0)
monthly_spend['Interest'] = monthly_spend['Due Amount'] * 0.029

# Display results
print(monthly_spend)

    Customer   Period        Amount     Limit  Over Limit        Repaid  \
0         A1  2004-01  1.511173e+06       NaN       False  3.831938e+06
1         A1  2004-02  4.138111e+04       NaN       False  3.831938e+06
2         A1  2004-05  1.311966e+05       NaN       False  3.831938e+06
3         A1  2005-01  3.984038e+05       NaN       False  3.831938e+06
4         A1  2005-02  1.404193e+06       NaN       False  3.831938e+06
..       ...      ...           ...       ...         ...           ...
802      A95  2004-01  3.478339e+05  500000.0       False  7.510949e+04
803      A96  2004-01  3.203635e+05  100000.0        True  1.101390e+05
804      A97  2004-01  1.643300e+05   10000.0        True  1.746064e+05
805      A98  2004-01  8.748351e+04   10001.0        True  9.780260e+04
806      A99  2004-01  4.760204e+05   10002.0        True  3.585899e+05

       Due Amount       Interest
0   -2.320765e+06  -67302.185224
1   -3.790557e+06 -109926.142796
2   -3.700741e+06 -107321.493820
3   -3.433534e+06  -99572.485484
4   -2.427745e+06  -70404.596651
..            ...            ...
802  2.727244e+05    7909.007232
803  2.102245e+05    6096.511125
804 -1.027635e+04    -298.014150
805 -1.031909e+04    -299.253523
806  1.174305e+05    3405.483407

[807 rows x 8 columns]

In [34]:


# Category with highest spend
spending_by_category = spend.groupby('Type')['Amount'].sum().reset_index()



# Output results
print("Monthly Spend:")
print(monthly_spend)
print("Monthly Repayment:")
print(monthly_repayment)
print("Customers spending more than their Credit Limit:")
print(over_spenders)
print("Top 10 Customers by Spend:")
print(top_10_customers)
print("Spending by Segment:")
print(spending_by_segment)
print("Spending by Age Group:")
print(spending_by_age_group)
# print("Most Profitable Segment:")
# print(profit_by_segment)
print("Category with Highest Spend:")
print(spending_by_category)

Monthly Spend:
    Customer   Period        Amount     Limit  Over Limit        Repaid  \
0         A1  2004-01  1.511173e+06       NaN       False  3.831938e+06
1         A1  2004-02  4.138111e+04       NaN       False  3.831938e+06
2         A1  2004-05  1.311966e+05       NaN       False  3.831938e+06
3         A1  2005-01  3.984038e+05       NaN       False  3.831938e+06
4         A1  2005-02  1.404193e+06       NaN       False  3.831938e+06
..       ...      ...           ...       ...         ...           ...
802      A95  2004-01  3.478339e+05  500000.0       False  7.510949e+04
803      A96  2004-01  3.203635e+05  100000.0        True  1.101390e+05
804      A97  2004-01  1.643300e+05   10000.0        True  1.746064e+05
805      A98  2004-01  8.748351e+04   10001.0        True  9.780260e+04
806      A99  2004-01  4.760204e+05   10002.0        True  3.585899e+05

       Due Amount       Interest
0   -2.320765e+06  -67302.185224
1   -3.790557e+06 -109926.142796
2   -3.700741e+06 -107321.493820
3   -3.433534e+06  -99572.485484
4   -2.427745e+06  -70404.596651
..            ...            ...
802  2.727244e+05    7909.007232
803  2.102245e+05    6096.511125
804 -1.027635e+04    -298.014150
805 -1.031909e+04    -299.253523
806  1.174305e+05    3405.483407

[807 rows x 8 columns]
Monthly Repayment:
    Customer   Period        Amount
0         A1  2004-01  1.362775e+06
1         A1  2004-02  1.911800e+05
2         A1  2005-01  1.581970e+03
3         A1  2005-02  1.199808e+06
4         A1  2005-07  3.005817e+05
..       ...      ...           ...
793      A95  2004-01  7.510949e+04
794      A96  2004-01  1.101390e+05
795      A97  2004-01  1.746064e+05
796      A98  2004-01  9.780260e+04
797      A99  2004-01  3.585899e+05

[798 rows x 3 columns]
Customers spending more than their Credit Limit:
    Customer   Period        Amount     Limit  Over Limit
21       A11  2004-01  8.195447e+05  500000.0        True
22       A11  2004-02  5.019403e+05  500000.0        True
47       A13  2004-01  6.336622e+05  500000.0        True
51       A13  2005-02  2.032310e+06  500000.0        True
52       A13  2005-05  5.986687e+05  500000.0        True
..       ...      ...           ...       ...         ...
796       A9  2006-07  4.762692e+05  100003.0        True
803      A96  2004-01  3.203635e+05  100000.0        True
804      A97  2004-01  1.643300e+05   10000.0        True
805      A98  2004-01  8.748351e+04   10001.0        True
806      A99  2004-01  4.760204e+05   10002.0        True

[391 rows x 5 columns]
Top 10 Customers by Spend:
  Customer        Amount
0      A22  9.637819e+06
1      A40  9.595040e+06
2      A60  9.317672e+06
3      A61  9.148468e+06
4      A48  9.056652e+06
5      A42  8.665639e+06
6      A41  8.583532e+06
7      A39  8.526678e+06
8      A45  8.498612e+06
9      A13  8.042339e+06
Spending by Segment:
         Segment        Amount
0           Govt  6.046714e+07
1  Normal Salary  7.343411e+07
2   Salaried_MNC  5.487624e+07
3   Salaried_Pvt  4.865442e+07
4  Self Employed  5.048681e+07
Spending by Age Group:
  Age Group        Amount
0     18-29  4.608874e+07
1     30-39  1.856688e+07
2     40-49  4.227948e+07
3     50-59  4.688844e+07
4       60+  1.340952e+08
Category with Highest Spend:
            Type        Amount
0     AIR TICKET  3.743547e+07
1           AUTO  1.050509e+07
2           BIKE  1.315264e+07
3     BUS TICKET  2.490590e+07
4         CAMERA  4.372101e+07
5            CAR  7.018278e+06
6        CLOTHES  2.479110e+07
7           FOOD  3.829646e+07
8      JEWELLERY  2.524795e+07
9   MOVIE TICKET  1.878458e+07
10         PETRO  5.102258e+07
11        RENTAL  2.091467e+07
12       SANDALS  6.325017e+06
13      SHOPPING  2.741868e+07
14  TRAIN TICKET  3.181262e+07

In [35]:
# Write to Excel
with pd.ExcelWriter('banking_analysis_results.xlsx') as writer:
    monthly_spend.to_excel(writer, sheet_name='Monthly Spend', index=False)
    monthly_repayment.to_excel(writer, sheet_name='Monthly Repayment', index=False)
    top_10_customers.to_excel(writer, sheet_name='Top 10 Customers', index=False)
    spending_by_segment.to_excel(writer, sheet_name='Spending by Segment', index=False)
    spending_by_age_group.to_excel(writer, sheet_name='Spending by Age Group', index=False)
    spending_by_category.to_excel(writer, sheet_name='Spending by Category', index=False)